html {
  background-color: #f3f3f3;
  overflow-x: hidden;
  font-family: Tahoma, Geneva, sans-serif;
}

.base {
  width: 100%;
  padding-top: 60px;
}

#content {
  width: 900px;
  margin: 0 auto;
}

button {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

button:focus {
  outline:0;
}

.button-playlist {
  font-family: arial;
  font-weight: bold;
  color: #F7F7F7 !important;
  font-size: 14px;
  padding: 5px 25px;
  background: #4186c3;
  width: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.button-playlist-hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top, #468CCF, #63B8EE);
  background: -ms-linear-gradient(top, #468CCF, #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top, #468CCF, #63B8EE);
}

.button-playlist:hover {
  .button-playlist-hover;
}

.button-playlist-current {
  color: #14396A !important;
}

#home-playlists {
  //background-color: #f1f2ed;
  display: inline-block;
  float: left;
  padding: 5px;
}

#home-tracklist {
  //background-color: #f1f2ed;
  width: 630px;
  float: right;
}

#button-load-more {
  .button-playlist;
  margin: 10px auto;
  display: block;
}

#button-load-more:hover {
  .button-playlist-hover;
}

.track-item {
  padding: 5px;
}

.span-play-track {
  color: #4186c3;
  cursor: pointer;
  text-decoration: none;
}

.span-play-track:hover {
  border-bottom: dashed 1px;
}

#controls {
  position: fixed;
  box-shadow: 0 8px 6px -6px black;
  margin-top: -60px;
  background-color: #37679b;
  border-radius: 5px;
  width: 900px;
  height: 50px;
}

#controls-title {
  color: white;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#controls-buttons {
  margin-top: 5px;
  text-align: center;
}

.button-audio-control {
  .button-playlist;
  width: 120px;
  padding: 5px 5px;
  line-height: 10px;
  color: #37679B !important;
  background: #fefbff;
}