.root {
    -fx-accent: #568BFF;
    -fx-focus-color: #568BFF;
    -fx-background-color: rgb(240, 240, 240);
}

* {
    -fx-background-radius: 0, 0, 0;
    -fx-font-family: "Verdana";
    -fx-font-size: 12px;
}

/*.list-cell:odd {
   -fx-background-color: rgba(205,205,205,0.35);
}*/

.list-cell:filled:focused:not(selected) {
    /*-fx-background-color: #0099FF;*/
    -fx-background-color: linear-gradient(#568BFF, #446DCE);
    -fx-text-fill: white;
}